In [2]:
import pandas as pd
import numpy as np
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
path = "./data/"
file2022 = "flightlist_20221001_20221031.csv"
file2019 = "flightlist_20190101_20190131.csv.gz"
usecols = ["callsign", "number", "icao24", "origin", "destination", "day"]
database2022 = pd.read_csv(path + file2022, usecols=usecols, parse_dates=["day"])
database2019 = pd.read_csv(path + file2019, usecols = usecols, compression="gzip", parse_dates=["day"])

/tmp/ipykernel_5007/3116359885.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  database2019 = pd.read_csv(path + file2019, usecols = usecols, compression="gzip", parse_dates=["day"])

In [4]:
database2022.head()

  callsign  number  icao24 origin destination                       day
0   QQE894     NaN  06a1cb    NaN        DAAG 2022-10-01 00:00:00+00:00
1  WJA1417  WS1417  c07eee   CYYZ        CYYC 2022-10-01 00:00:00+00:00
2  KZR1377     NaN  4cac0f   RKSI        LTBA 2022-10-01 00:00:00+00:00
3   TGW842     NaN  76bd4a   YSSY        RKSI 2022-10-01 00:00:00+00:00
4    BAW16     NaN  406f74   YSSY        EGLL 2022-10-01 00:00:00+00:00

In [18]:
database2022.number.unique()

array([nan, 'WS1417', 'SQ406', ..., 'AM807', 'VJ135', '2Q7107'],
      dtype=object)

In [6]:
database2022.loc[database2022["callsign"]=="QQE894"]

  callsign number  icao24 origin destination                       day
0   QQE894    NaN  06a1cb    NaN        DAAG 2022-10-01 00:00:00+00:00

In [8]:
database2022.groupby(["origin", "destination"]).nunique()

                    callsign  number  icao24  day
origin destination
00AK   OL99                1       0       1    1
       PAMR                2       0       2    2
       PASX                1       0       1    1
00AL   00AL                1       0       1    1
       KFYM                1       0       1    1
...                      ...     ...     ...  ...
ZGSZ   WBSB                1       0       1    2
       WMKK                6       0      13   20
       YMML                1       1       1    2
       YSSY                2       0       6   22
       ZGSZ               32       3      31   18

[284859 rows x 4 columns]

In [10]:
database2022.groupby(["origin", "destination"]).count()

                    callsign  number  icao24  day
origin destination
00AK   OL99                1       0       1    1
       PAMR                2       0       2    2
       PASX                1       0       1    1
00AL   00AL                1       0       1    1
       KFYM                1       0       1    1
...                      ...     ...     ...  ...
ZGSZ   WBSB                2       0       2    2
       WMKK               25       0      25   25
       YMML                2       2       2    2
       YSSY               22       0      22   22
       ZGSZ               42       3      42   42

[284859 rows x 4 columns]

In [5]:
database2019.head()

  callsign number  icao24 origin destination                       day
0    HVN19    NaN  888152   YMML        LFPG 2019-01-01 00:00:00+00:00
1   CCA839    NaN  780ad1   YMML        LEBL 2019-01-01 00:00:00+00:00
2   CES219    NaN  780b7e   YSSY        EDDF 2019-01-01 00:00:00+00:00
3   AEA040    NaN  34444e   LEMD        LEMD 2019-01-01 00:00:00+00:00
4   CXA825    NaN  780d75   YSSY        LFPG 2019-01-01 00:00:00+00:00

In [11]:
database = [database2019, database2022]

In [15]:
database2022.describe(datetime_is_numeric=True)

,callsign,number,icao24,origin,destination,day
count,3091445,651981,3091425,2428315,2615384,3091445
unique,273939,38223,122356,11680,13343,NaN
top,00000000,WN3193,34610b,KATL,KATL,NaN
freq,1717,128,346,29393,29971,NaN
mean,NaN,NaN,NaN,NaN,NaN,2022-10-15 13:18:41.397533696+00:00
min,NaN,NaN,NaN,NaN,NaN,2022-10-01 00:00:00+00:00
25%,NaN,NaN,NaN,NaN,NaN,2022-10-08 00:00:00+00:00
50%,NaN,NaN,NaN,NaN,NaN,2022-10-15 00:00:00+00:00
75%,NaN,NaN,NaN,NaN,NaN,2022-10-23 00:00:00+00:00
max,NaN,NaN,NaN,NaN,NaN,2022-10-31 00:00:00+00:00

In [6]:
database2022.shape

(3091445, 6)

In [12]:
database2022.loc[database2022.icao24 == "34610b"]

        callsign  number  icao24 origin destination                       day
23444    AEA1702  UX1702  34610b   LEPA        LEIB 2022-10-01 00:00:00+00:00
26709    AEA38VP     NaN  34610b   LEIB        LEPA 2022-10-01 00:00:00+00:00
30046    AEA4537  UX4537  34610b   LEPA        LEMH 2022-10-01 00:00:00+00:00
33326    AEA81NR     NaN  34610b   LEMH        LEPA 2022-10-01 00:00:00+00:00
36666    AEA1706  UX1706  34610b   LEPA        LEIB 2022-10-01 00:00:00+00:00
...          ...     ...     ...    ...         ...                       ...
3039381  AEA13MJ     NaN  34610b   LEIB        LEPA 2022-10-31 00:00:00+00:00
3049673  AEA4531  UX4531  34610b   LEPA        LESL 2022-10-31 00:00:00+00:00
3056108  AEA44SD     NaN  34610b   LEMH        LEPA 2022-10-31 00:00:00+00:00
3065196  AEA72RF     NaN  34610b   LEPA        LEIB 2022-10-31 00:00:00+00:00
3071628  AEA27RJ     NaN  34610b   LEIB        LEPA 2022-10-31 00:00:00+00:00

[346 rows x 6 columns]

In [21]:
database2022.dropna(subset=["origin", "destination"], inplace=True)
database2022.shape

(2057194, 6)

In [25]:
database2022 = database2022.loc[database2022["origin"] != database2022["destination"]]
database2022.shape

(1777231, 6)

In [28]:
database2022.drop_duplicates(subset = ["origin", "destination", "callsign"])

        callsign  number  icao24 origin destination                       day
1        WJA1417  WS1417  c07eee   CYYZ        CYYC 2022-10-01 00:00:00+00:00
2        KZR1377     NaN  4cac0f   RKSI        LTBA 2022-10-01 00:00:00+00:00
3         TGW842     NaN  76bd4a   YSSY        RKSI 2022-10-01 00:00:00+00:00
4          BAW16     NaN  406f74   YSSY        EGLL 2022-10-01 00:00:00+00:00
5         N540LF     NaN  a6d8ec   KTEB        YSSY 2022-10-01 00:00:00+00:00
...          ...     ...     ...    ...         ...                       ...
3091429  CAP1387     NaN  add023   10IA        IA17 2022-10-31 00:00:00+00:00
3091431    ZKHMJ     NaN  c81475   NZCX        NZAR 2022-10-31 00:00:00+00:00
3091432   N2493X     NaN  a25445   4MN0        KSTC 2022-10-31 00:00:00+00:00
3091435   N2060U     NaN  a1aab8   KTOA        KCPM 2022-10-31 00:00:00+00:00
3091441   EJA407     NaN  a4c811   KFDK        KIAD 2022-10-31 00:00:00+00:00

[679079 rows x 6 columns]

In [ ]:
database2022.groupby(["origin", "destination"]).nunique()